@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .input {
    @apply
    bg-transparent_screen backdrop-blur-sm border-input_border placeholder-white focus:shadow-l_t_inset_shadow
    shadow-r_b_shadow hover:shadow-l_t_inset_shadow outline-none my-2 w-full p-2 rounded-lg capitalize;
  }

  .btn {
    @apply
    bg-transparent_screen backdrop-blur-sm py-1 px-2 rounded-lg shadow-r_b_shadow
    hover:shadow-inset_shadow
  }
}
